.nav-title {
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th, td {
  width: calc(100% / 9);
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  position: sticky;
}

.expense-form {
  margin-left: 1rem !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.expense-form input, select, textarea {
  width: 10rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.expense-form textarea {
  width: 13rem;
  height: 5rem;
}

.add-expense {
  width: 10rem;
  height: 3rem;
}

.month-label {
  margin-left: 1rem;
  margin-right: 1rem;
}

.add-income {
  width: 10rem;
  height: 3rem;
  margin-left: 1rem;
}

.income-label {
  margin-left: 1rem;
  margin-right: 1rem;
}

.balance-div {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid skyblue;
  border-radius: 16px;
  padding: 20px;
  margin-left: 2rem;
  width: 13rem;
}

.balance-div > * {
  margin: 0 0 5px 0;
  padding: 0;
}

.sticky-header th {
  position: sticky;
  top: 0; /* Sticks to the top of the table */
  background-color: white; /* Ensures the header has a background */
  z-index: 1; /* Ensures it stays above other content */
}

.budget-table thead {
  background-color: #ddd;
}

.budget-table tr:nth-child(even) {
  background-color: #d3fcde;
}