.mood-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year-selector {
  margin-bottom: 20px;
  text-align: center;
}

.year-selector button {
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 16px;
}

.months-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.month {
  padding: 10px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 25px);
  grid-gap: 1px;
  justify-content: center;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  margin-bottom: 5px;
  margin: auto;
}

/* Styles for each weekday abbreviation */
.weekday {
  text-align: center;
  font-size: 0.6rem;
  font-weight: bold;
  padding: 2.2px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  margin-right: 0.11rem;
}

.day {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 20%;
  display: inline-block;
}

.tooltip {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  z-index: 10;
}

.day:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.year-span {
  font-size: larger;
  color: #000000;
}