.track-weight-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.weight-form {
  display: flex;
  flex-direction: column;
  border: 1px solid gainsboro;
  border-radius: 16px;
  background-color: gainsboro;
  width: 100%;
  padding: 1rem;
}

.weight-form-elements {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 5rem;
}

.weight-form-group {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.weight-form-group label {
  margin-top: 1rem;
}

.weight-form-elements input {
  display: inline-block;
  width: 15rem;
}

.weight-btn-submit {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.weight-btn-submit:hover {
  background-color: #0056b3;
}

.weight-charts-container {
  width: 98%;
  margin-top: 1rem;
}