.bp-form {
  display: flex;
  flex-direction: column;
  border: 1px solid gainsboro;
  border-radius: 16px;
  padding: 1.25rem;
  background-color: gainsboro;
  width: 100%;
  justify-content: space-between;
}

.bp-form .form-elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3.5rem;
  align-items: center;  /* Centers items vertically */
  justify-content: center;
  width: 100% !important;
  padding: 0;
}

.bp-form-group {
  display: flex;
  flex-direction: row;
}

.bp-form-group label {
  margin-top: 1rem;
  display: block;
  margin-right: 0.5rem;
}

.bp-form input {
  width: 12rem;
  padding: 8px;
  box-sizing: border-box;
}

.bp-btn-submit {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  align-self: center;
  width: 99%;
}

.btn-submit:hover {
  background-color: #45a049;
}

.bp-charts-container {
  width: 97%;
  margin: auto;
  margin-top: 1rem;
}